<!DOCTYPE html>
<head>
    <title>Index page</title>
</head>
<body>
    <div id="header">
    	<h1>Match Influence Calculator</h1>
    </div>
    <div id="content">
        <p>Enter Summoner Name:</p>
        <form action="/summoner/" method="post" accept-charset="utf-8" onsubmit="this.action+=this.querySelector('input[type=text]').value+='/'">
            {% csrf_token %}
            <input type="text" name="summoner_name">
            <input type="submit" value="Enter">
        </form>
    </div>
</body>
