{% load static %}
<!doctype html>
<html>
    <head>
        <script type="text/javascript" src="/static/main/js/sorttable.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/main/css/display.css?{% now "U" %}"/>
    </head>
    <body>
        <div id="header">
	    <a href="http://159.89.232.189/"><h1>Match Influence Calculator</h1></a>
        </div>
        <div id="search">
            <p>Enter Summoner Name:</p>
            <form action="/summoner/" method="post" accept-charset="utf-8" onsubmit="this.action+=this.querySelector('input[type=text]'+="/").value">
                {% csrf_token %}
		<input type="text" name="summoner_name">
                <input type="submit" value="Enter">
        </form>
        </div>
	<div class="PlayerSummary">
		
	</div>
        <div class="Matches">
            {% for match_id, match in matches.items%}
            <div class="MatchEntry">
		        <a href="http://159.89.232.189/match/{{match_id}}"><h2>Match {{ match_id }}</h2></a>
		        <h3>{{ match.match_date }}</h3>
                <h3>Match duration: {{ match.match_duration }}</h3>

                {% for team_id, team in match.teams.items %}
                <div>                    
                    <h3> {{ team_id }} Team </h3>
                    <!-- <h3> {{ team.players.count }} </h3> -->
                    <table class="sortable"> 
                        <!-- Allows tables to be sorted -->
                        <thead>
                            <tr>
                                <th>Summoner Name</th>
                                <th>Champion Name</th>
                                <th>KDA</th>
    				            <th class="sorttable_nosort"></th>
                                <th>Match Influence Score</th>
                                <th>Carry %</th>
                                <th>Tank %</th>
                                <th>Objective Control %</th>
                                <th>Support %</th>
                            </tr>
                        </thead>
                        <!-- <tbody>
                            {% for player in team.players.all %}
                            <tr> 
    				            <td><a href="http://159.89.232.189/{{player.summoner_name}}">{{player.summoner_name}}</a></td>
                                <td>{{ player.champion_name }}</td>
                                {% if player.kda == 'Perfect' %}
                                    <td sorttable_customkey="1000">Perfect</td>
                                {% else %}
                                    <td>{{player.kda}}</td>
                                {% endif %}
                                <td>{{ player.kills_actual }} / {{ player.deaths_actual }} / {{ player.assists_actual }}</td>
                                <td>{{ player.match_influence }}</td>
                                <td>{{ player.carry }}</td>
                                <td>{{ player.tank }}</td>
                                <td>{{ player.objectives }}</td>
                                <td>{{ player.support }}%</td>
                            </tr> 
                            {% endfor %}  
                        </tbody> -->
                    </table>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </body>
</html>
